@charset "utf-8";

@import "_import";
@import "_base";

.field {
    margin-top: 20px;
    display: none;
}
.field input, .field select {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    font-size: 16px;
}

.download-btn {
    display: inline-block;
}

.box{
    padding: 10px;
    background: #FFFFFF;
    border-radius: 10px;
}